@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

* {
  font-family: 'Nunito Sans';
}
button {
  @apply hover:cursor-pointer
}
.animate {
  @apply transition-all duration-300 ease-in-out
}

